@font-face {
    font-family: 'VCR OSD Mono';
    src: url('fonts/VCR_OSD_MONO.ttf') format('truetype');
}

body {
    font-family: VCR OSD Mono, monospace;
    font-size: 14px;
    line-height: 1.5;
    margin: 0 50px;
    padding: 0 20px;
    background-color: #ccc;
    color: #333;
}

nav {
    display: flex;
    justify-content: space-between;
}

a {
    color: #333;
    text-decoration: none;
    padding: 8px 15px;
    border: 1px solid #333;
    border-radius: 5px;
}

a:hover {
    text-shadow: #95f5a9 1px 1px 0;
    background-color: #ff69cd;
}

/* potential colours for link hover:
green colour: #95f5a9
pink colour: #ff69cd */

h1, h2, h3 {
    margin: 0;
    padding: 20px;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1:hover {
    text-shadow: 0 0 20px #95fc83;
}

hr {
    margin: 20px 0;
    width: 100%;
    border: 0;
    height: 2px;
    background-color: #333;
}

p {
    margin: 0;
    padding: 20px;
}

img {
    height: 250px;
    width: 250px;
    display: block;
    margin: 50px auto;
    border: 2px solid #333;
    border-radius: 10px;
}

