@font-face {
    font-family: 'VCR OSD Mono';
    src: url('fonts/VCR_OSD_MONO.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: VCR OSD Mono, monospace;
    font-size: 16px;
    line-height: 1.6;
    margin: 100px;
    padding: 20px;
    background-color: #b3b3b3;
    color: #333;
}

h1, h2, h3 {
    margin: 0;
    line-height: 1.25;
    display: flex;
    justify-content: center;
    align-items: center;
}

p { 
    display: flex; 
    justify-content: center;
    align-items: center;
}

